/*EStilos da página index.html*/
.center {
    text-align: center;
}

.justify {
    text-align: justify;
} 

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: grey;

}

.p-texto_sobre {
    padding: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*EStilos da página contato.html*/